body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
}

.calculator {
    background: rgb(128, 128, 128);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 300px;
}

input {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
}

.buttons button {
    width: 25%;
    padding: 15px;
    font-size: 18px;
    margin: 2px 0;
    text-align: center;
}

.clear {
    width: 100%;
    background: #ff5555;
    color: white;
}
